.list-action {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #ab7ea9;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

.book-card {
  flex: 1;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.book-card-footer {
  padding: 8px;
}

mat-card {
  justify-content: space-between;
}

mat-card-content {
  flex: 1;
}

.main-container {
  display: flex;
  padding: 10px;
  gap: 10px;
}

